<div class="container">
    <div class="row">
        <h2>Component affichage liste complête des pokémons </h2>
        <div *ngFor="let pokemon of pokemonList" class="col s6 m6">
            <div (click)="goToPokemonList(pokemon)" class="card horizontal">
                <!-- le paramètre "pokemon" est récupéré du ngFor et est repris dansl a méthode dans le TS -->
                <div class="card-image">
                    <img alt="{{pokemon.name}}" src="{{pokemon.picture}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4>{{pokemon.name}}</h4>
                        <p><small>{{pokemon.created | date:"dd/MM/yyyy"}} </small></p>
                        <span *ngFor="let test of pokemon.types" class="{{ test | pokemonTypeColor }}}}">
                            {{test}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>