<div class="container">
    <p> Below : la dièse level up</p>

    <input #input (keyup.enter)="selectPokemon(input.value)" type="number" />

    <h3>below : *ngIf</h3>
    <p *ngIf="pokemonSelected">
        Le pokémon "{{ pokemonSelected.name }}" a été selectionné.
    </p>
    <p *ngIf="!pokemonSelected">
        Pas de pokémon selectionné.
    </p>
    <h3>below : *ngFor , avec materialize (genre de bootstrap) , en utilisant un système de card</h3>


    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col s6 m6">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{pokemon.picture}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4>{{pokemon.name}}</h4>
                        <p><small>{{pokemon.created | date:"dd/MM/yyyy"}} </small></p>
                        <span *ngFor="let test of pokemon.types" class="{{ test | pokemonTypeColor }}}}">
                            {{test}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>